// Fonts
// =====

// Amp
@include font('BaskervilleAmp' 'amp/Baskerville-amp-webfont');

// Franklin Gothic
@include font('FranklinGothic' 'sans/FranklinGothic-Book-webfont');
@include font('FranklinGothic' 'sans/FranklinGothic-BookIt-webfont' italic);
@include font('FranklinGothic' 'sans/FranklinGothic-Demi-webfont' bold);
@include font('FranklinGothic' 'sans/FranklinGothic-DemiIt-webfont' bold italic);

// Franklin Gothic Condensed
@include font('FranklinGothicCond' 'sanscond/FranklinGothic-Cd-webfont');
@include font('FranklinGothicCond' 'sanscond/FranklinGothic-CdIt-webfont' italic);
@include font('FranklinGothicCond' 'sanscond/FranklinGothic-DemiCd-webfont' bold);
@include font('FranklinGothicCond' 'sanscond/FranklinGothic-DemiCdIt-webfont' bold italic);

// ----------------------------------------------------------------------------
// Font Stacks

$sans-stack   : "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif-stack  : Baskerville, Palatino, Cambria, Georgia, serif;
$mono-stack   : Consolas, Menlo, Monaco, "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace, serif;

// ----------------------------------------------------------------------------
// Font Mixins

@mixin sanscond { font-family: 'FranklinGothicCond',$sans-stack; }
@mixin sans { font-family: 'FranklinGothic',$sans-stack; }
@mixin mono { font-family: $mono-stack; }
@mixin amp {
  font-family: 'BaskervilleAmp', $serif-stack;
  font-weight: normal;
  font-style: normal;
}
