html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "BaskervilleAmp";
  src: url('../fonts/amp/Baskerville-amp-webfont.woff?1381027796') format("woff"), url('../fonts/amp/Baskerville-amp-webfont.ttf?1381027796') format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FranklinGothic";
  src: url('../fonts/sans/FranklinGothic-Book-webfont.woff?1381027796') format("woff"), url('../fonts/sans/FranklinGothic-Book-webfont.ttf?1381027796') format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FranklinGothic";
  src: url('../fonts/sans/FranklinGothic-BookIt-webfont.woff?1381027796') format("woff"), url('../fonts/sans/FranklinGothic-BookIt-webfont.ttf?1381027796') format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "FranklinGothic";
  src: url('../fonts/sans/FranklinGothic-Demi-webfont.woff?1381027796') format("woff"), url('../fonts/sans/FranklinGothic-Demi-webfont.ttf?1381027796') format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "FranklinGothic";
  src: url('../fonts/sans/FranklinGothic-DemiIt-webfont.woff?1381027796') format("woff"), url('../fonts/sans/FranklinGothic-DemiIt-webfont.ttf?1381027796') format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "FranklinGothicCond";
  src: url('../fonts/sanscond/FranklinGothic-Cd-webfont.woff?1381027796') format("woff"), url('../fonts/sanscond/FranklinGothic-Cd-webfont.ttf?1381027796') format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FranklinGothicCond";
  src: url('../fonts/sanscond/FranklinGothic-CdIt-webfont.woff?1381027796') format("woff"), url('../fonts/sanscond/FranklinGothic-CdIt-webfont.ttf?1381027796') format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "FranklinGothicCond";
  src: url('../fonts/sanscond/FranklinGothic-DemiCd-webfont.woff?1381027796') format("woff"), url('../fonts/sanscond/FranklinGothic-DemiCd-webfont.ttf?1381027796') format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "FranklinGothicCond";
  src: url('../fonts/sanscond/FranklinGothic-DemiCdIt-webfont.woff?1381027796') format("woff"), url('../fonts/sanscond/FranklinGothic-DemiCdIt-webfont.ttf?1381027796') format("truetype");
  font-weight: bold;
  font-style: italic;
}

html {
  font-size: 200%;
  line-height: 1.3125em;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: "FranklinGothic", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 4vmin;
  line-height: 1.3em;
  background: #f8f8f8;
  color: #4c4c4c;
}

html, body {
  overflow-x: hidden;
  height: 100%;
}

body {
  background: url('../images/rainish.svg?1381082893') no-repeat scroll 150% 250%;
  -webkit-background-size: 50% auto;
  -moz-background-size: 50% auto;
  -o-background-size: 50% auto;
  background-size: 50% auto;
}

@font-face {
  font-family: "art";
  src: url('../fonts/icons/art.woff?1381027796') format("woff"), url('../fonts/icons/art.ttf?1381027796') format("truetype");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  font-family: "art";
  font-style: normal;
  speak: none;
}

[data-icon]:before {
  content: attr(data-icon);
}

[data-icon="pencil"]:before {
  content: "\f071";
}

[data-icon="tag"]:before {
  content: "\e004";
}

[data-icon="remove"]:before {
  content: "\e000";
}

[data-icon="plus"]:before {
  content: "\e001";
}

[data-icon="checkmark"]:before {
  content: "\e006";
}

[data-icon="close"]:before {
  content: "\e008";
}

[data-icon="warning"]:before {
  content: "\e009";
}

[data-icon="info"]:before {
  content: "\e00a";
}

[data-icon="cancel"]:before {
  content: "\e002";
}

[data-icon="move"]:before {
  content: "\e00b";
}

[data-icon="twitter"]:before {
  content: "\e00c";
}

[data-icon="github"]:before {
  content: "\e00d";
}

[data-icon="bubble"]:before {
  content: "\e003";
}

[data-icon="user"]:before {
  content: "\e005";
}

a:link, a:visited {
  color: #0098cc;
  text-decoration: none;
  cursor: pointer;
}

a:hover, a:focus, a:active {
  color: #ff0080;
}

.alt-text {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.amp {
  font-family: "BaskervilleAmp", Baskerville, Palatino, Cambria, Georgia, serif;
  font-weight: normal;
  font-style: normal;
}

.slidehead .head, .topic .topictitle {
  font-family: "FranklinGothicCond", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}

.slidehead .head {
  font-size: 2.84375rem;
  line-height: 3.28125rem;
  font-weight: bold;
}

.topic .topictitle {
  font-size: 1.6875rem;
  line-height: 1.96875rem;
}

.dev .slidebody p, .art .slidebody p, .dev .slidebody ol, .art .slidebody ol, .dev .slidebody ul, .art .slidebody ul {
  margin-bottom: 1.3125rem;
}
.dev .slidebody ol ol, .art .slidebody ol ol, .dev .slidebody ol ul, .art .slidebody ol ul, .dev .slidebody ul ol, .art .slidebody ul ol, .dev .slidebody ul ul, .art .slidebody ul ul {
  margin-left: 1.3125rem;
}
.dev .slidebody ol, .art .slidebody ol {
  list-style: decimal;
}
.dev .slidebody ul, .art .slidebody ul {
  list-style: disc;
}

label {
  cursor: pointer;
}

[name="section-toggle"], [id='topic1-open'], [id='topic1-done'], [id='topic2-open'], [id='topic2-done'], [id='topic3-open'], [id='topic3-done'], [id='topic4-open'], [id='topic4-done'], [id='topic5-open'], [id='topic5-done'], [id='topic6-open'], [id='topic6-done'], [id='topic7-open'], [id='topic7-done'], [id='topic8-open'], [id='topic8-done'], [id='topic9-open'], [id='topic9-done'] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
}

.info, .dev, .art, .variations-sample, .ux, .people, .organism {
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.section-toggle-focus {
  opacity: 0;
  position: fixed;
  bottom: 0;
  right: 0.65625rem;
  color: #b2b2b2;
  z-index: 800;
}

[data-toggle="section"] {
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
  counter-increment: slide;
  opacity: 0;
  z-index: -1;
  position: relative;
  float: left;
  width: 100%;
  height: 100%;
  margin-right: -1000%;
  padding: 1.3125rem;
  overflow-y: scroll;
}

[name="section-toggle"]:checked + [data-toggle="section"] {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
  z-index: 100;
}
[name="section-toggle"]:focus ~ .section-toggle-focus {
  opacity: 1;
}

.slide {
  width: 100%;
}
.slide strong {
  font-weight: bold;
}

.slidehead {
  font-family: "FranklinGothicCond", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 1.3125rem;
  text-transform: uppercase;
  text-align: center;
}
.slidehead b {
  color: #ff0080;
}
.slidehead .amp {
  position: relative;
  font-size: 5.25rem;
  display: inline-block;
  margin: 0 -.15em 0 -.15em;
  vertical-align: middle;
  z-index: -1;
}

.slidebody, .slidefoot {
  max-width: 30.1875rem;
  margin: 0 auto;
}

.slidefoot {
  font-family: "FranklinGothicCond", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.59375rem;
  line-height: 0.98438rem;
  text-transform: uppercase;
  color: rgba(76, 76, 76, 0.5);
}
.slidefoot a:link, .slidefoot a:visited {
  -webkit-transition: color 200ms;
  -moz-transition: color 200ms;
  -o-transition: color 200ms;
  transition: color 200ms;
  color: rgba(0, 121, 163, 0.5);
  text-transform: uppercase;
}
.slidefoot a:hover, .slidefoot a:focus, .slidefoot a:active {
  color: #ff0080;
}

.prev, .next {
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  font-size: 4.8125rem;
  line-height: 5.25rem;
  -webkit-transition: opacity 300ms;
  -moz-transition: opacity 300ms;
  -o-transition: opacity 300ms;
  transition: opacity 300ms;
  opacity: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  padding: 0.32813rem;
  background: rgba(255, 0, 128, 0.25);
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  z-index: 500;
}
.prev:hover, .prev:focus, .prev:active, .next:hover, .next:focus, .next:active {
  opacity: .5;
}

.prev {
  left: 0;
}
.prev:before {
  content: "«";
}

.next {
  right: 0;
}
.next:before {
  content: "»";
}

.this {
  font-size: 0.59375rem;
  line-height: 1.3125rem;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 2.29688rem;
  padding: 0 0.65625rem;
  color: rgba(178, 178, 178, 0.5);
  text-align: left;
  z-index: 800;
}
.this:before {
  content: counter(slide);
}
.this:hover {
  color: #999999;
}

.info .version {
  text-transform: none;
  color: #b2b2b2;
}

.vcard {
  padding-top: 1.96875rem;
  padding-bottom: 3.28125rem;
  margin-bottom: 1.3125rem;
  background: url('../images/eric.svg?1381050883') no-repeat scroll left;
  -webkit-background-size: 9.1875rem;
  -moz-background-size: 9.1875rem;
  -o-background-size: 9.1875rem;
  background-size: 9.1875rem;
  padding-left: 7.875rem;
}
.vcard .fn, .vcard .title {
  display: block;
}
.vcard [rel="me"] {
  display: inline-block;
  margin-right: 0.65625rem;
}
.vcard [data-icon] {
  font-size: 0.875rem;
  line-height: 1.3125rem;
}
.vcard .link-text {
  color: #4c4c4c;
}

.colophon, .copyright {
  display: inline;
}
.colophon a, .copyright a {
  display: inline-block;
  font-weight: bold;
}

.dev .slidebody, .art .slidebody {
  text-align: center;
}

.developer, .artist {
  display: inline-block;
  margin: 0 auto;
  text-align: left;
  min-width: 15em;
}

.dev-sample {
  padding: 0;
}
.dev-sample .samples {
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-align: stretch;
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
  align-items: stretch;
  -webkit-flex-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.dev-sample li {
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
  background: no-repeat scroll top left;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-shadow: 0 0 0.25em rgba(25, 25, 25, 0.5);
  -moz-box-shadow: 0 0 0.25em rgba(25, 25, 25, 0.5);
  box-shadow: 0 0 0.25em rgba(25, 25, 25, 0.5);
  position: relative;
}
.dev-sample li + li {
  border-left: 3px solid #ff0080;
}
.dev-sample li:hover {
  -webkit-flex: 5;
  -ms-flex: 5;
  flex: 5;
  margin: 0;
}
.dev-sample .mozilla {
  background-image: url('../images/screens/mozilla.png?1381050883');
}
.dev-sample .junyo {
  background-image: url('../images/screens/junyo.png?1381050883');
}
.dev-sample .susy {
  background-image: url('../images/screens/susy.png?1381050883');
}

.pob-sample, .ggm-sample {
  -webkit-box-shadow: 0 0 0.25em #191919;
  -moz-box-shadow: 0 0 0.25em #191919;
  box-shadow: 0 0 0.25em #191919;
  text-align: center;
  background-color: rgba(76, 76, 76, 0.9);
}

.sample-frame {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  border: 6px solid #0098cc;
}

.theatre-sample {
  padding: 0;
}
.theatre-sample .slide {
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-pack: stretch;
  -ms-flex-pack: stretch;
  -webkit-justify-content: stretch;
  justify-content: stretch;
  -webkit-flex-align: stretch;
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
  align-items: stretch;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0;
  height: 100%;
}
.theatre-sample .show {
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-flex: 1 1 33%;
  -ms-flex: 1 1 33%;
  flex: 1 1 33%;
  position: relative;
  min-height: 3.9375rem;
  outline: 3px solid #0098cc;
  background-position: center;
}
.theatre-sample .ado {
  background-image: url('../images/shows/ado.jpg?1381050883');
}
.theatre-sample .danny {
  background-image: url('../images/shows/danny.jpg?1381050883');
}
.theatre-sample .falling {
  background-image: url('../images/shows/falling.jpg?1381050883');
}
.theatre-sample .hello {
  background-image: url('../images/shows/hello.jpg?1381050883');
}
.theatre-sample .oneact {
  background-image: url('../images/shows/oneact.jpg?1381050883');
}
.theatre-sample .rochester {
  background-image: url('../images/shows/rochester.jpg?1381050883');
}
.theatre-sample .rollerskating {
  background-image: url('../images/shows/rollerskating.jpg?1381050883');
}
.theatre-sample .murder {
  background-image: url('../images/shows/murder.jpg?1381050883');
}
.theatre-sample .missa {
  -webkit-transform: scale(1.2, 1.2);
  -moz-transform: scale(1.2, 1.2);
  -ms-transform: scale(1.2, 1.2);
  -o-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
  background-image: url('../images/shows/missa.jpg?1381051270');
  z-index: 10;
}

.pob-photo {
  background: url('../images/obsolete.jpg?1381091347') no-repeat scroll center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.pob-photo .watermark {
  font-family: "FranklinGothicCond", "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: absolute;
  bottom: 1.3125rem;
  left: 2.625rem;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.75);
}
.pob-photo .watermark:before {
  content: "photo: ";
}

.variations-sample {
  background: url('../images/variations.png?1381082893') no-repeat scroll center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.variations-sample .slidehead {
  background: rgba(255, 255, 255, 0.75);
}

.topics {
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-align: stretch;
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
  align-items: stretch;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0;
}

.topic {
  -webkit-flex: 1 1 33%;
  -ms-flex: 1 1 33%;
  flex: 1 1 33%;
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-align: stretch;
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
  align-items: stretch;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  position: relative;
  background: #cceaf4;
  outline: 3px solid #ff66b2;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.topic .topictitle {
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  width: 100%;
  text-align: center;
}
.topic .topictitle span {
  display: block;
  width: 100%;
}

.topicbody {
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  -o-transition: all 200ms;
  transition: all 200ms;
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  opacity: 0;
  position: fixed;
  top: 25%;
  right: 25%;
  bottom: 25%;
  left: 25%;
  padding: 0.65625rem;
  background: #fcfcfc;
  z-index: -1;
}
.topicbody .slidehead {
  width: 100%;
}

.topic-actions {
  font-size: 0.78125rem;
  line-height: 1.3125rem;
  position: absolute;
  right: 0.65625rem;
  top: 0.65625rem;
}
.topic-actions [for] {
  margin-left: 0.32813rem;
  color: #e5e5e5;
}
.topic-actions [for]:hover {
  color: #ff0080;
}

.topic:nth-of-type(1) {
  background: #cceaf4;
}
.topic:nth-of-type(1):hover {
  background: #66c1e0;
}

[id='topic1-open']:checked ~ .t1 {
  background: #66c1e0;
}
[id='topic1-open']:checked ~ .t1 .topicbody {
  border: 6px solid #0098cc;
}

.topic:nth-of-type(2) {
  background: #ccd2f4;
}
.topic:nth-of-type(2):hover {
  background: #6678e0;
}

[id='topic2-open']:checked ~ .t2 {
  background: #6678e0;
}
[id='topic2-open']:checked ~ .t2 .topicbody {
  border: 6px solid #001ecc;
}

.topic:nth-of-type(3) {
  background: #deccf4;
}
.topic:nth-of-type(3):hover {
  background: #9d66e0;
}

[id='topic3-open']:checked ~ .t3 {
  background: #9d66e0;
}
[id='topic3-open']:checked ~ .t3 .topicbody {
  border: 6px solid #5d00cc;
}

.topic:nth-of-type(4) {
  background: #f4ccf2;
}
.topic:nth-of-type(4):hover {
  background: #e066d9;
}

[id='topic4-open']:checked ~ .t4 {
  background: #e066d9;
}
[id='topic4-open']:checked ~ .t4 .topicbody {
  border: 6px solid #cc00c1;
}

.topic:nth-of-type(5) {
  background: #f4ccda;
}
.topic:nth-of-type(5):hover {
  background: #e06690;
}

[id='topic5-open']:checked ~ .t5 {
  background: #e06690;
}
[id='topic5-open']:checked ~ .t5 .topicbody {
  border: 6px solid #cc0046;
}

.topic:nth-of-type(6) {
  background: #f4d6cc;
}
.topic:nth-of-type(6):hover {
  background: #e08566;
}

[id='topic6-open']:checked ~ .t6 {
  background: #e08566;
}
[id='topic6-open']:checked ~ .t6 .topicbody {
  border: 6px solid #cc3400;
}

.topic:nth-of-type(7) {
  background: #f4eecc;
}
.topic:nth-of-type(7):hover {
  background: #e0ce66;
}

[id='topic7-open']:checked ~ .t7 {
  background: #e0ce66;
}
[id='topic7-open']:checked ~ .t7 .topicbody {
  border: 6px solid #ccae00;
}

.topic:nth-of-type(8) {
  background: #e2f4cc;
}
.topic:nth-of-type(8):hover {
  background: #a8e066;
}

[id='topic8-open']:checked ~ .t8 {
  background: #a8e066;
}
[id='topic8-open']:checked ~ .t8 .topicbody {
  border: 6px solid #6fcc00;
}

.topic:nth-of-type(9) {
  background: #ccf4ce;
}
.topic:nth-of-type(9):hover {
  background: #66e06c;
}

[id='topic9-open']:checked ~ .t9 {
  background: #66e06c;
}
[id='topic9-open']:checked ~ .t9 .topicbody {
  border: 6px solid #00cc0b;
}

[id='topic1-open']:checked ~ .t1 .topicbody, [id='topic2-open']:checked ~ .t2 .topicbody, [id='topic3-open']:checked ~ .t3 .topicbody, [id='topic4-open']:checked ~ .t4 .topicbody, [id='topic5-open']:checked ~ .t5 .topicbody, [id='topic6-open']:checked ~ .t6 .topicbody, [id='topic7-open']:checked ~ .t7 .topicbody, [id='topic8-open']:checked ~ .t8 .topicbody, [id='topic9-open']:checked ~ .t9 .topicbody {
  opacity: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 950;
}

[id='topic1-done']:checked ~ .t1, [id='topic2-done']:checked ~ .t2, [id='topic3-done']:checked ~ .t3, [id='topic4-done']:checked ~ .t4, [id='topic5-done']:checked ~ .t5, [id='topic6-done']:checked ~ .t6, [id='topic7-done']:checked ~ .t7, [id='topic8-done']:checked ~ .t8, [id='topic9-done']:checked ~ .t9 {
  -webkit-box-shadow: inset 0 0 3px rgba(76, 76, 76, 0.25);
  -moz-box-shadow: inset 0 0 3px rgba(76, 76, 76, 0.25);
  box-shadow: inset 0 0 3px rgba(76, 76, 76, 0.25);
  background-color: #e5e5e5;
  color: white;
  text-shadow: 0 0 3px rgba(76, 76, 76, 0.25);
}
[id='topic1-done']:checked ~ .t1 .topicbody, [id='topic2-done']:checked ~ .t2 .topicbody, [id='topic3-done']:checked ~ .t3 .topicbody, [id='topic4-done']:checked ~ .t4 .topicbody, [id='topic5-done']:checked ~ .t5 .topicbody, [id='topic6-done']:checked ~ .t6 .topicbody, [id='topic7-done']:checked ~ .t7 .topicbody, [id='topic8-done']:checked ~ .t8 .topicbody, [id='topic9-done']:checked ~ .t9 .topicbody {
  display: none;
}
