html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "BaskervilleAmp";
  src: url('../fonts/Baskerville-amp-webfont.woff?1340674215') format("woff"), url('../fonts/Baskerville-amp-webfont.ttf?1340674215') format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CenturyOldStyle";
  src: url('../fonts/CenturyOldStyle-Regular-webfont.woff?1341997853') format("woff"), url('../fonts/CenturyOldStyle-Regular-webfont.ttf?1341997853') format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CenturyOldStyle";
  src: url('../fonts/CenturyOldStyle-Italic-webfont.woff?1341997853') format("woff"), url('../fonts/CenturyOldStyle-Italic-webfont.ttf?1341997853') format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "CenturyOldStyle";
  src: url('../fonts/CenturyOldStyle-Bold-webfont.woff?1341997853') format("woff"), url('../fonts/CenturyOldStyle-Bold-webfont.ttf?1341997853') format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "CenturyOldStyleCaps";
  src: url('../fonts/CenturyOldStyleCaps-Regular-webfont.woff?1341997853') format("woff"), url('../fonts/CenturyOldStyleCaps-Regular-webfont.ttf?1341997853') format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FranklinGothicCond";
  src: url('../fonts/FranklinGothic-Cd-webfont.woff?1341997854') format("woff"), url('../fonts/FranklinGothic-Cd-webfont.ttf?1341997854') format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FranklinGothicCond";
  src: url('../fonts/FranklinGothic-CdIt-webfont.woff?1341997854') format("woff"), url('../fonts/FranklinGothic-CdIt-webfont.ttf?1341997854') format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "FranklinGothicCond";
  src: url('../fonts/FranklinGothic-DemiCd-webfont.woff?1341997854') format("woff"), url('../fonts/FranklinGothic-DemiCd-webfont.ttf?1341997854') format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "FranklinGothicCond";
  src: url('../fonts/FranklinGothic-DemiCdIt-webfont.woff?1341997854') format("woff"), url('../fonts/FranklinGothic-DemiCdIt-webfont.ttf?1341997854') format("truetype");
  font-weight: bold;
  font-style: italic;
}

html {
  font-size: 200%;
  line-height: 1.3125em;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: "FranklinGothicCond", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #f2f4f4;
  color: #4e585a;
}

html, body {
  overflow-x: hidden;
}

@font-face {
  font-family: "icons";
  src: url('../fonts/icons.woff?1343056130') format("woff"), url('../fonts/icons.ttf?1343056130') format("truetype");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  font-family: "icons";
  font-style: normal;
  speak: none;
}

[data-icon]:before {
  content: attr(data-icon);
}

[data-icon="facebook"]:before {
  content: "\e000";
}

[data-icon="html5"]:before {
  content: "\e001";
}

[data-icon="css3"]:before {
  content: "\e002";
}

[data-icon="stack"]:before {
  content: "\e003";
}

[data-icon="twitter"]:before {
  content: "\e004";
}

[data-icon="vimeo"]:before {
  content: "\e005";
}

[data-icon="github"]:before {
  content: "\e006";
}

[data-icon="dribbble"]:before {
  content: "\e007";
}

[data-icon="feed"]:before {
  content: "\e008";
}

[data-icon="mail"]:before {
  content: "\e009";
}

a:link, a:visited {
  color: #0f91bc;
  text-decoration: none;
  cursor: pointer;
}

a:hover, a:focus, a:active {
  color: #bc0f0f;
}

.alt-text {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

[data-toggle="section"] h1 {
  font-size: 2.84375rem;
  line-height: 3.28125rem;
}

[data-toggle="section"] h2 {
  font-size: 2.1875rem;
  line-height: 2.625rem;
}

[data-toggle="section"] h3 {
  font-size: 1.6875rem;
  line-height: 1.96875rem;
}

[data-toggle="section"] h4 {
  font-size: 1.3125rem;
  line-height: 1.96875rem;
}

[data-toggle="section"] h1, [data-toggle="section"] h2, [data-toggle="section"] h3, [data-toggle="section"] h4, [data-toggle="section"] h5, [data-toggle="section"] h6 {
  font-weight: bold;
}

[data-toggle="section"] p, [data-toggle="section"] ol, [data-toggle="section"] ul {
  margin-bottom: 1.3125rem;
}
[data-toggle="section"] ol ol, [data-toggle="section"] ol ul, [data-toggle="section"] ul ol, [data-toggle="section"] ul ul {
  margin-left: 1.3125rem;
}
[data-toggle="section"] ol {
  list-style: decimal;
}
[data-toggle="section"] ul {
  list-style: disc;
}

[name="section-toggle"] {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

[data-toggle="section"] {
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
  opacity: 0;
  z-index: -1;
  display: block;
  position: relative;
  float: left;
  width: 100%;
  margin-right: -1000%;
  padding: 1.3125rem;
  text-align: center;
}
[data-toggle="section"] ul {
  display: inline-block;
  text-align: left;
}

[name="section-toggle"]:checked + [data-toggle="section"] {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
  z-index: 100;
}
