// Art Slides
// ==========

.pob-sample, .ggm-sample {
  @include box-shadow(0 0 .25em color(darkest));
  text-align: center;
  background-color: color($base,.9);
}

.sample-frame {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  border: 6px solid $alt;
}

.theatre-sample {
  padding: 0;
  .slide {
    @include display-flex;
    @include justify-content(stretch);
    @include align-items(stretch);
    @include flex-wrap(wrap);
    padding: 0;
    height: 100%;
  }
  .show {
    @include transition(all 300ms);
    @include background-size(cover);
    @include flex(1 1 33%);
    position: relative;
    min-height: rhythm(3);
    outline: 3px solid $alt;
    background-position: center;
  }
  .ado { background-image: image-url('shows/ado.jpg'); }
  .danny { background-image: image-url('shows/danny.jpg'); }
  .falling { background-image: image-url('shows/falling.jpg'); }
  .hello { background-image: image-url('shows/hello.jpg'); }
  .oneact { background-image: image-url('shows/oneact.jpg'); }
  .rochester { background-image: image-url('shows/rochester.jpg'); }
  .rollerskating { background-image: image-url('shows/rollerskating.jpg'); }
  .murder { background-image: image-url('shows/murder.jpg'); }
  .missa {
    @include scale(1.2);
    background-image: image-url('shows/missa.jpg');
    z-index: 10;
  }
}

.pob-photo {
  @include background(image-url('obsolete.jpg') no-repeat scroll center);
  @include background-size(cover);
  .watermark {
    @include before('photo: ');
    @include sanscond;
    position: absolute;
    bottom: rhythm(1);
    left: rhythm(2);
    text-transform: uppercase;
    color: color(white,.75);
  }
}

.variations-sample {
  @extend %vertical-center;
  @include background(image-url('variations.png') no-repeat scroll center);
  @include background-size(cover);
  .slidehead {
    background: color(white,.75);
  }
}
