// Dev Slides
// ==========

.dev, .art {
  @extend %vertical-center;
  .slidebody {
    @extend %body;
    text-align: center;
  }
}

.developer, .artist {
  display: inline-block;
  margin: 0 auto;
  text-align: left;
  min-width: 15em;
}

.dev-sample {
  padding: 0;
  .samples {
    @include display-flex;
    @include align-items(stretch);
    @include justify-content(center);
    height: 100%;
    width: 100%;
  }
  li {
    @include transition(all 300ms);
    @include background(no-repeat scroll top left);
    @include background-size(cover);
    @include flex(1);
    @include display-flex;
    @include align-items(center);
    @include box-shadow(0 0 .25em color(darkest,.5));
    position: relative;

    + li { border-left: 3px solid $accent; }

    &:hover {
      @include flex(5);
      margin: 0;
    }
  }
  .mozilla { background-image: image-url('screens/mozilla.png'); }
  .junyo { background-image: image-url('screens/junyo.png'); }
  .susy { background-image: image-url('screens/susy.png'); }
}

