// Dev Slides
// ==========

.dev, .art {
  @extend %vertical-center;
  .slidebody {
    @extend %body;
    text-align: center;
  }
}

.developer, .artist {
  display: inline-block;
  margin: 0 auto;
  text-align: left;
  min-width: 15em;
}

.dev-sample {
  .samples {
    @include display-flex;
    @include flex-direction(column);
    @include align-items(stretch);
    @include justify-content(center);
    height: 100%;
    width: 100%;
    &:hover :nth-child(2) {
      @include flex(1);
      opacity: .25;
      background-position: center;
      border-color: color(lighter);
      &:hover {
        @include flex(5);
        opacity: 1;
        background-position: top;
        border-color: $alt;
      }
    }
  }
  li {
    @include transition(all 300ms);
    @include background(no-repeat scroll center);
    @include background-size;
    @include flex(1);
    opacity: .25;
    border: 3px solid color(lighter);
    &:nth-child(2), &:hover {
      @include flex(5);
      opacity: 1;
      background-position: top;
      border-color: $alt;
    }
  }
  .mozilla { background-image: image-url('screens/mozilla.png'); }
  .junyo { background-image: image-url('screens/junyo.png'); }
  .susy { background-image: image-url('screens/susy.png'); }
}

