// Topics
// ======

.topics {
  @include display-flex;
  @include align-items(stretch);
  @include flex-wrap(wrap);
  padding: 0;
}

.topic {
  @include display-flex;
  @include align-items(center);
  @include flex(1 1 33%);
  @include transition(all 1s);
  background: color($alt lightest);
  border: 1px solid color(white,.5);
  text-shadow: 0 1px 0 color(white,.5);
  .topichead {
    @extend %h2;
    width: 100%;
    text-align: center;
  }

  @for $i from 1 through 9 {
    &:nth-of-type(#{$i}) {
      $color: adjust-hue($alt, 360/10 * ($i - 1));
      background: color(lightest $color);
      &:hover { background: color(lighter $color); }
    }
  }
}

.toggle-topic {
  @include toggle {
    + .topic {
      @include box-shadow(inset 0 0 3px color($base,.25));
      background-color: color(lightest);
      color: white;
      text-shadow: 0 0 3px color($base,.25);
      &:hover { @include scale(1); }
    }
  }
}


