// Topics
// ======

.topics {
  @include display-flex;
  @include align-items(stretch);
  @include flex-wrap(wrap);
  padding: 0;
}

.topic {
  @include display-flex;
  @include align-items(center);
  @include flex(1 1 33%);
  border: 1px solid color(white,.25);
  background: color($base,.25);
  > * { width: 100%; }
}

.toggle-topic {
  @include toggle { + .topic { background-color: $red; } }
}


