// Topics
// ======

.topics {
  @include display-flex;
  @include align-items(stretch);
  @include flex-wrap(wrap);
  padding: 0;
}

.topic {
  @include display-flex;
  @include align-items(center);
  @include flex(1 1 33%);
  background: color($alt lightest);
  border: 1px solid color(white,.5);
  .topichead {
    @extend %h2;
    width: 100%;
    text-align: center;
  }

  @for $i from 1 through 9 {
    &:nth-of-type(#{$i}) {
      background: adjust-hue(color($alt lightest), 360/10 * ($i - 1));
    }
  }
}

.toggle-topic {
  @include toggle {
    + .topic {
      @include box-shadow(inset 0 0 3px color($base,.25));
      background-color: color(lightest);
      color: white;
      text-shadow: 0 0 3px color($base,.25);
    }
  }
}


